.element__like {
  background-image: url(../../../images/like.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 22px;
  height: 19px;
  grid-column: 1/2;
  grid-row: 2/3;
  align-self: center;
  justify-self: end;
  margin-right: 20px;
  border: 0;
  background-color: white;
}

.element__like:hover {
  cursor: pointer;
  opacity: 0.5;
}