.page {
  font-family: 'inter', 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  max-width: 880px;
  min-width: 320px;
  color: #FFFFFF;
  margin: 0 auto;
}