.edite-form__close-button {
  position: fixed;
  left: calc(50% + 215px + 8px);
  bottom: calc(50% + 160px + 8px);
  border: none;
  width: 32px;
  height: 32px;
  /* background-color: black; */
  background-image: url(../../../images/Close\ Icon.png);
  background-size: contain;
  background-color: black;
  z-index: 5;
}

.edite-form__close-button:hover {
  cursor: pointer;
  opacity: 0.6;
}