.popup__edite-form {
  display: flex;
  flex-direction: column;
  max-width: 430px;
  border-radius: 10px;
  background-color: #FFFFFF;
  border-radius: 10px;
}

@media screen and (max-width: 520px) {
  .popup__edite-form {
    max-width: 282px;
    left: calc(50% - 141px);
  }
}