.element {
  box-sizing: border-box;
  min-width: 282px;
  background-color: #FFFFFF;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 282px 79px;
  border-radius: 10px;
  overflow: hidden;
  margin: 0;
  padding: 0;
}