.popup__container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 430px; 
  border-radius: 10px;
  background-color: #FFFFFF;
}

@media screen and (max-width: 520px) {
  .popup__edite-form {
    max-width: 282px;
  }
}