.profile__info {
  align-self: center;
  flex-grow: 1;
  padding-left: 30px;
  display: grid;
  grid-template-columns: max-content min-content;
  grid-template-rows: min-content min-content;
}

@media screen and (max-width: 695px) {
  .profile__info {
    margin-top: 22px;
  }
}

@media screen and (max-width: 542px) {
  .profile__info {
    margin-top: 25px;
    grid-template-columns: 1fr max-content 1fr;
    padding: 0;
  }
}

