.element__like {
  background-image: url(../../../images/like.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 22px;
  height: 19px;
  grid-column: 2/3;
  grid-row: 2/3;
  margin: 22px 20px 0 0;
  border: 0;
  background-color: rgba(0, 0, 0, 0);;
  justify-self: flex-end;
}

.element__like:hover {
  cursor: pointer;
  opacity: 0.5;
}