.edite-form {
  position: fixed;
  max-width: 430px;
  top: calc(50% - 165px);
  background-color: #FFFFFF;
  border-radius: 10px;
  z-index: 5;
}

@media screen and (max-width: 520px) {
  .edite-form {
    max-width: 282px;
  }
}
