.profile__edite-button {
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 0 0 0 18px;
  align-self: flex-end;
  background-image: url(../../../images/Edit_Button.svg);
  background-color: black;
  background-size: contain;
  background-position: center;
}

.profile__edite-button:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width: 431px) {
  .profile__edite-button {
    grid-column: 3/4;
  }
}