.element__title {
  margin-top: 25px;
  max-width: 210px;
  grid-column: 1/1;
  grid-row: 2/3;
  color: #000000;
  align-self: flex-start;
  padding-left: 21px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}